<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Form page</title>
</head>
<body>

    <p>Please enter your name and pick the Sectors you are currently involved in.</p>
    <form action="#" th:action="@{/saveForm}" th:object="${user}" method="post">
        <p>Name:</p>
        <input th:field="*{name}" type="text" size="40" th:value="${user.name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >name error</p>
        <p>Sectors:</p>
        <select th:field="*{sectors}" multiple="multiple" size="5" >
            <option th:each="sector : ${sectorList}"
                    th:value="${sector.id}"
                    th:utext="${sector.name}"
                    th:selected="${sector.active}"></option>
        </select>
        <p th:if="${#fields.hasErrors('sectors')}" th:errors="*{sectors}" >sectors error</p>
        <p><input th:field="*{agree}" type="checkbox" th:checked="${user.agree}"/> Agree to terms </p>
        <p th:if="${#fields.hasErrors('agree')}" th:errors="*{agree}" >agree error</p>
        <input type="submit" value="Save"/>
    </form>
</body>
</html>